@font-face {
  font-family: 'Archivo-Bold';
  src: local('Archivo-Bold'),
  url('./assets/fonts/Archivo-Bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Archivo-Medium';
  src: local('Archivo-Medium'),
  url('./assets/fonts/Archivo-Medium.ttf') format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Archivo-Bold', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-section {
  background: #F5F1ED;
  height: 100vh;
}

#byrd-logo {
  width: 216px;
  height: auto
}



/* Desktop navbar */

.desktop-nav {
  border: 1px solid red;
  
  display: flex;
  justify-content: space-between;
}

.left-container {
  border: 1px solid red;
}

.right-container {
  border: 1px solid red;
}

.left-container ul,
.right-container ul {
  list-style: none;
}

.left-container ul li,
.right-container ul li{
  display: inline-block;
  padding-right: 30px;
}



/* Drop-down menu (for tablet width and below) */

.inner-menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: none;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  width: 100px;
}

.menu {
  background: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(50px);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}
