/* Desktop navbar */

.desktop-nav {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-container ul,
.right-container ul {
  list-style: none;
}

.left-container ul li,
.right-container ul li {
  display: inline-block;
}

.left-container ul {
  margin-left: 131.5px;
}

.right-container ul {
  margin-right: 131.5px;
}

.left-container ul li:first-child,
.right-container ul li:first-child {
  padding-right: 50.5px;
}

