@font-face {
  font-family: 'Archivo-Bold';
  src:
    local('Archivo-Bold'),
    url('./styles/assets/fonts/Archivo-Bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Archivo-Medium';
  src:
    local('Archivo-Medium'),
    url('./styles/assets/fonts/Archivo-Medium.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src:
    local('ProximaNova-Regular'),
    url('./styles/assets/fonts/ProximaNova-Regular.otf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src:
    local('ProximaNova-Regular'),
    url('./styles/assets/fonts/ProximaNova-Semibold.otf') format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family:
    'Archivo-Medium',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(49, 33, 27);
}
